.listitem {
  list-style-type: none;
  flex: 1;
  display: flex;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #00b3ff;
    transition: opacity 0.2s ease-out;
  }

  a:hover {
    cursor: pointer;
    opacity: 0.85;
    transition: opacity 0.2s ease-out;
  }

  a:active,
  a.active {
    border-bottom: 4px solid #000;
    opacity: 0.85;
  }
}
